canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

#preview {
  position: fixed;
  top: 2.5%;
  left: 48.5%;
  width: 10%;
  height: 20%;
}

#menu {
  position: fixed;
  left: 62.5%;
  top: 2.5%;
  width: 35%;
  height: 95%;
}

